*.o
*.a
*.exe

.vscode/
aconf.h
autom4te.cache/
config.log
config.status
configure
configure~
fofi/Makefile
goo/Makefile
Makefile
pdftohtml/Makefile
pdftohtml/pdftohtml
splash/Makefile
xpdf/Makefile
xpdf/pdfdetach
xpdf/pdffonts
xpdf/pdfimages
xpdf/pdfinfo
xpdf/pdftohtml
xpdf/pdftopng
xpdf/pdftoppm
xpdf/pdftops
xpdf/pdftotext
xpdf/xpdf